<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        @* // In this context '~' refers to the wwwroot folder *@
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
    @* NAVBAR *@
    <div class="navbar">
        <p>Home</p>
        <a class="mid" href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <h1>About Me</h1>
    <div class="content">
        <div class="about1">
            <img src="~/img/god.PNG" alt="God">
            <h3>The 25th Bam</h3>
            <p> I like becoming stronger</p>
        </div>
            <p class="about1">
                Hey, you add a one and two zeros to that or we walk! Then we'll go with that data file! But existing is basically all I do! Stop it, stop it. It's fine. I will 'destroy' you! As an interesting side note, as a head without a body, I envy the dead. I saw you with those two "ladies of the evening" at Elzars. Explain that. Doomsday device? Ah, now the ball's in Farnsworth's court! It's a T. It goes "tuh". Moving along… Guards! Bring me the forms I need to fill out to have her taken away! Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! Actually, that's still true. It's a T. It goes "tuh". Oh God, what have I done? Why, those are the Grunka-Lunkas! They work here in the Slurm factory. Now what? Ooh, name it after me! Bender, quit destroying the universe! Goodbye, friends. I never thought I'd die like this. But I always really hoped. Is the Space Pope reptilian!?
            </p>
    </div>

    </body>
</html>